@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color: #4a76a8;
}

.bg-main-color {
    background-color: var(--main-color);
}

.text-main-color {
    color: var(--main-color);
}

.border-main-color {
    border-color: var(--main-color);
}

body {
    font-family: "Inter", sans-serif;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-50 shadow-md backdrop-blur-sm;
}

.hamburger-line {
    @apply my-2 block h-[2px] w-[30px] bg-dark;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}
